<header>
    <nav>
        <img class="logo" src="https://scontent-cdg4-1.xx.fbcdn.net/v/t39.30808-6/302453346_419962500117952_484103532572565533_n.jpg?_nc_cat=105&ccb=1-7&_nc_sid=efb6e6&_nc_ohc=eGyLDfdaFuUAX-NXnpN&_nc_ht=scontent-cdg4-1.xx&oh=00_AfDnkeF3wi2DMIHreoIAc_NGFfozKT3ZTnf2asy1m4_PqQ&oe=65EB1EC8" alt="Logo : Aux Castelblangeois">
        <ul class="menu">
            <li class="index"><a href="../index.html">Accueil</a></li>
            <li><a href="galerie.html">Galerie</a></li>
            <!-- <li class="boulangerie"><a href="HTML/boulangerie.html">Boulangerie</a></li>
            <li class="patisserie"><a href="HTML/patisserie.html">Pâtisserie</a></li>
            <li class="traiteur"><a href="HTML/traiteur.html">Traiteur</a></li> -->
            <li class="contact"><a href="contact.html">Contact</a></li>
        </ul>
        <img class="burger-menu" src="assets/menu.png" alt="burger menu">
    </nav>
</header>